body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main-link {
	padding: 0.5rem 1rem;
	background: var(--primaryColor);
	color: var(--mainWhite);
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: var(--mainSpacing);
	outline: 2px solid var(--primaryColor);
	outline-offset: 4px;
	border: none;
	transition: var(--mainTransition);
}
.main-link:hover {
	background: var(--darkGrey);
	text-decoration: none;
	color: var(--primaryColor);
	outline-color: var(--darkGrey);
}
.cart-icon {
	cursor: pointer;
}
