body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main-link {
	padding: 0.5rem 1rem;
	background: #5fb7ea;
	color: #fff;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 0.3rem;
	outline: 2px solid #5fb7ea;
	outline-offset: 4px;
	border: none;
	transition: all 0.3s ease-in-out;
}
.main-link:hover {
	background: #5f5e5e;
	text-decoration: none;
	color: #5fb7ea;
	outline-color: #5f5e5e;
}
.cart-icon {
	cursor: pointer;
}
